{%- set arch_map = {
      'x86_64': 'amd64',
      'aarch64': 'arm64',
    } %}
{%- set terraform_default = {
      'url': 'https://hashicorp-releases.yandexcloud.net/terraform',
      'versions': ['1.8.5'],
      'default': '1.8.5',
      'arch': arch_map.get(grains.get('osarch', grains.get('cpuarch')),
                         grains.get('osarch', grains.get('cpuarch'))),
      'os': 'linux' if grains.get('os_family', '').lower() in ['debian', 'redhat'] else grains.get('os', '').lower(),
      'skip_verify': True,
    } %}
{%- set terraform = salt['pillar.get']('terraform', default=terraform_default, merge=True) %}
{%- if not terraform.url.startswith('http') %}
{%-   set _ = terraform.update({'url': 'https://' ~ terraform.url.lstrip('/')}) %}
{%- endif %}
